*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 15px;
}
.navbar-brand{
    font-family: 'kalnia Glaze';
    font-style: italic;
    font-size: 25px;
    font-weight: 550;
}
.carousel-slide{
    margin: 40px 0 0 0;
}
#car-img{
    width: 100%;
    height: 700px;
    padding:0 1% 0 1%;
}
.card-img-top, .service-cont a{
    height: 250px;
    width: 250px;
    margin: 7% 0 0 0;
}

.service{
    color:rgb(173, 27, 149);
    text-align: center;
    margin: 50px 0 0 0;
}
.service-cont{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 50px 0 0 0;
    background-color: rgba(161, 157, 157, 0.712);
    width: 100%;
    height: 450px;
}
.card-title{
    font-weight: bolder; 
    margin: 0 0 0 16%;
    color:#8940ce;
}
.card-text{
    width: 75%;
    margin: 0 0 0 16%;
    padding: 0 0 3% 0;
}
#card-cont{
    width:fit-content; 
    height: 35%;  
    margin: 7% 0 0 0;
    padding: 5% 0 0 0; 
    background-color: #c5c0c0;
    border: none;
}
#serv-img{
    margin: 0 0 0 0; 
    width: 500px; 
    height: 300px;
}
.dentist{
    margin: 50px 0 0 30px;
    width: 40%;
    height: 40%;
    border-radius: 10%;
}
#meet{
    color: #862058;
}
#info-cont{
    position: absolute; 
    margin: 150px ;
}
.contact-cont{
    width: 50%;
    margin: 50px;
}
input{
    display: block;
    width: 150%;
    height: 35px;
    margin: 5%;
    background-color: whitesmoke;
    border: none;
}
textarea{
    width: 150%;
    background-color: whitesmoke;
    border: none;
    margin: 0 0 0 20px;
}
.form-cont{
    margin: -30% 0 0 50%;
    width: 30%;

}
footer{
    margin: 10% 0 0 0;
}
#info-heads{
    color: #862058;
    font-weight: bold;
}
#sub{
    height: 50px;
    width: 130px; 
    border-radius: 10PX;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(to top right,#862058, #49102f);
}
#sub:hover, #book:hover{
    background-image: linear-gradient(to top right, #2c8de7,#9e306c);
}
#book{
    height: 50px;
    width: 130px; 
    border-radius: 10PX;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 200px; 
    border: none; 
    margin: 0 0 -30% 50%;
    background-image: linear-gradient(to top right,#862058, #49102f);
}
#hours{
    text-decoration: none;
}
#hours:hover{
    text-decoration: underline;
}
.card-text{
    width: 400px; 
    font-size: 20px; 
    font-weight: 400; 
    margin: 2% 0 0 16% ; 
    font-stretch: ultra-expanded;
}
#tw-types{
    margin: 0 0 0 16%;
    font-size: 20px;
}
#rd-more{
    text-align: center; 
    margin: 30px 0 0 47%; 
    height: 25px; 
    font-size: 10px; 
    background-color: rgb(161, 36, 211); 
    border: none;
}
#ft-tel{
    text-decoration: none;
    color: #ffff;
}
#cs-img{
    margin: 2% 0 0 15%; 
    width: 520px;
}

/* mobile */
@media (max-width: 480px){
    body{
        font-size: 20px;
        width: fit-content;
    }
    #car-img{
        width: 100%;
        height: 350px;
        padding:0 1% 0 1%;
    }
    #rd-more{
        margin: 30px 0 0 40%;
    }
    .service-cont{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin: 50px 0 0 0;
        background-color: rgba(161, 157, 157, 0.712);
        width: 100%;
        height: 1220px;
    }
    #info-cont{
    position: relative; 
    margin: 50px 0 0 0 ;
    width: 100%;
    height: 50%;
    padding: 10px 0 0 10px;
    }
    .dentist{
        margin: 50px 0 0 10px;
        width: 70%;
        height: 40%;
        border-radius: 10%;
    }
    #book{
        height: 50px;
        width: 130px; 
        border-radius: 10PX;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        width: 200px; 
        border: none; 
        margin: 0 0 -30% 40%;
        background-image: linear-gradient(to top right,#862058, #49102f);
    }
    .form-cont{
        margin: -5% 0 0 0%;
        width: 60%;
    
    }
    #serv-img{
        margin: 0 0 0 0;
        width: 100%;
    }
    .card-text{
        width: 75%;
        margin: 0 0 0 16%;
        padding: 0 0 3% 0;
        font-size: 20px;
    } 
    #card-cont{
        width:100%; 
        height: 35%;  
        margin: 7% 0 0 0;
        padding: 5% 0 0 0; 
        background-color: #c5c0c0;
        border: none;
    }
    #cs-img{
        margin: 2% 0 0 0; 
        width: 100%;
        height: 80%;
    }
    .card-title{
        font-weight: bolder; 
        margin: -30% 0 0 16%;
        color:#8940ce;
    }
}
/*x small mobile */
@media (min-width: 481px) and (max-width:767px){
    body{
        font-size: 30px;
    }
    .service-cont{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin: 50px 0 0 0;
        background-color: rgba(161, 157, 157, 0.712);
        width: 100%;
        height: 670px;
    }
    .dentist-sec, #meet, #d-name{
        font-size: 30px;
    }
     
    #info-cont{
        position: relative; 
        margin: 50px 0 0 0 ;
        width: 10%;
        height: 50%;
        /* font-size: 30px; */
        }
    .dentist{
            margin: 50px 0 0 10px;
            width: 80%;
            height: 45%;
            border-radius: 10%;
        }
        #book{
            height: 50px;
            width: 150px; 
            border-radius: 10PX;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            width: 200px; 
            border: none; 
            margin: 0 0 -30% 70%;
            background-image: linear-gradient(to top right,#862058, #49102f);
        }
        footer{
            font-size: 10px;
        }
        
}
/* small tablets */
@media (min-width: 768px) and (max-width:991px){
    body{
        font-size: 30px;
    }
    .service-cont{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin: 50px 0 0 0;
        background-color: rgba(161, 157, 157, 0.712);
        width: 100%;
        height: 670px;
    }
    .dentist-sec, #meet, #d-name{
        font-size: 25px;
    }
     
    #info-cont{
        position: relative; 
        margin: 50px 0 0 0 ;
        width: 10%;
        height: 50%;
        /* font-size: 30px; */
        }
    .dentist{
            margin: 50px 0 0 10px;
            width: 80%;
            height: 45%;
            border-radius: 10%;
        }
        #book{
            height: 50px;
            width: 150px; 
            border-radius: 10PX;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            width: 200px; 
            border: none; 
            margin: 0 0 -30% 70%;
            background-image: linear-gradient(to top right,#862058, #49102f);
        }
        footer{
            font-size: 15px;
        }
        .form-cont{
            margin: -45% 0 0 47%;
            width: 33%;
        
        }
        #serv-img{
            margin: 0 0 0 5%;
            width: 100%;
        }
        .card-text{
            width: 75%;
            margin: 0 0 0 16%;
            padding: 0 0 3% 0;
            font-size: 20px;
        } 
        #card-cont{
            width:100%; 
            height: 35%;  
            margin: 7% 0 0 0;
            padding: 5% 0 0 0; 
            background-color: #c5c0c0;
            border: none;
        }
        #cs-img{
            margin: 2% 0 0 20%; 
            width: 100%;
            height: 90%;
        }
}
/* x large */
@media (min-width: 1920px){
    *{
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-size: 40px;
    }
    .navbar-brand{
        font-family: 'kalnia Glaze';
        font-style: italic;
        font-size: 25px;
        font-weight: 550;
    }
    .carousel-slide{
        margin: 40px 0 0 0;
    }
    #car-img{
        width: 100%;
        height: 700px;
        padding:0 1% 0 1%;
    }
    .card-img-top, .service-cont a{
        height: 250px;
        width: 250px;
        margin: 7% 0 0 0;
    }
    
    .service{
        color:rgb(173, 27, 149);
        text-align: center;
        margin: 50px 0 0 0;
    }
    .service-cont{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly; 
        margin: 50px 0 0 0;
        background-color: rgba(161, 157, 157, 0.712);
        width: 100%;
        height: 450px;
    }
    
    .dentist{
        margin: 50px 0 0 30px;
        width: 40%;
        height: 40%;
        border-radius: 10%;
    }
    #meet{
        color: #862058;
    }
    #info-cont{
        position: absolute; 
        margin: 150px ;
    }
    #d-name{
    
    }
    .contact-cont{
        width: 50%;
        margin: 50px;
    }
    input{
        display: block;
        width: 150%;
        height: 35px;
        margin: 5%;
        background-color: whitesmoke;
        border: none;
    }
    textarea{
        width: 150%;
        background-color: whitesmoke;
        border: none;
        margin: 0 0 0 20px;
    }
    .form-cont{
        margin: -30% 0 0 50%;
        width: 30%;
    
    }
    footer{
        margin: 10% 0 0 0;
    }
    #info-heads{
        color: #862058;
        font-weight: bold;
    }
    #sub{
        height: 50px;
        width: 130px; 
        border-radius: 10PX;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-image: linear-gradient(to top right,#862058, #49102f);
    }
    #sub:hover, #book:hover{
        background-image: linear-gradient(to top right, #2c8de7,#9e306c);
    }
    #book{
        height: 50px;
        width: 130px; 
        border-radius: 10PX;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        width: 200px; 
        border: none; 
        margin: 0 0 -30% 50%;
        background-image: linear-gradient(to top right,#862058, #49102f);
    }
    #hours{
        text-decoration: none;
    }
    #hours:hover{
        text-decoration: underline;
    }
    .card-text{
        width: 400px; 
        font-size: 20px; 
        font-weight: 400; 
        margin: 2% 0 0 16% ; 
        font-stretch: ultra-expanded;
    }
    #tw-types{
        margin: 0 0 0 16%;
    }
    #rd-more{
        text-align: center; 
        margin: 30px 0 0 47%; 
        height: 25px; 
        font-size: 10px; 
        background-color: rgb(161, 36, 211); 
        border: none;
    }  
    .form-cont{
        margin: -30% 0 0 50%;
        width: 30%;
    
    }
}




/* font:svwsf */